.header {
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #ccc;


    .header-grp {
        display: flex;
        align-items: center;
        gap: 10px;
        white-space: nowrap;
        margin: 0 10px;

        p {
            color: #989799;
        }

        .form-select {
            border: none !important;
            box-shadow: none !important;
        }

        .header-dropdown {
            background: none;
            border: none;
            outline: none;
        }

    }

    .header-dropdown-menu {
        width: 50vw;
        left: 0;
        padding: 0px 0px 0px 15px;
        min-height: 400px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .header-dropdown-body {
            display: flex;
            justify-content: start;
            gap: 20px;

            .column-text {
                padding: 5px;
                margin: 10px 10px 15px 10px;
                border-bottom: 1px solid #ccc;
                text-transform: capitalize;
            }

            .header-column {
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 250px;
                max-height: 250px;
                overflow-y: auto;
                border: 1px solid #ccc;
                padding: 5px;
                border-radius: 4px;

                li {
                    padding: 5px 5px 5px 30px;
                    font-size: 13px;
                    cursor: pointer;
                    list-style-type: none;
                    position: relative;

                    &.selected {
                        background-color: #0171e3;
                        color: white;
                        border-radius: 4px;

                        &::before {
                            content: '✓';
                            position: absolute;
                            left: 10px;
                        }
                    }

                    &:hover {
                        background-color: #0171e3;
                        color: white;
                        border-radius: 4px;
                    }
                }
            }
        }

        .header-dropdown-footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border-top: 1px solid #ccc;
            padding: 10px;

            .reset-button {
                padding: 10px;
                border: 1px solid #0171e3;
                background-color: white;
                border-radius: 4px;
                color: #0171e3;
                text-transform: capitalize;
            }

            .apply-button {
                padding: 10px;
                border: 1px solid #0171e3;
                background-color: #0171e3;
                color: white;
                border-radius: 4px;
                margin-left: 10px;
                text-transform: capitalize;
            }
        }

        .dropdown-height {
            min-height: 400px;
        }
    }
}

.secondary-header {
    padding: 0 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    position: relative;

    .title {
        font-weight: 600;
        font-size: 28px;
        color: black;
    }

    .nav {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        .nav-item {
            .nav-link {
                color: gray;
                cursor: pointer;

                &.active {
                    font-size: 400 !important;
                    color: black;
                }
            }
        }
    }

    select {
        font-size: 13px;
    }

    label {
        margin: 5px;
    }

    .dropdown {
        background-color: white;
        background: none;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
    }

}

.main-body {
    background-color: #fbfbfd;
    height: calc(100vh - 145px);
    position: relative;

    .quick-filter {
        position: absolute;
        right: 1.5rem;
        top: 2.5rem;
        display: flex;
        align-items: center;
        gap: 20px;

        .toggle-switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 21px;

            input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: 0.4s;
                border-radius: 24px;
            }

            input:checked+.slider {
                background-color: #0171e3;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 15px;
                width: 15px;
                left: 3px;
                bottom: 3px;
                background-color: white;
                transition: 0.4s;
                border-radius: 50%;
            }

            input:checked+.slider:before {
                transform: translateX(26px);
            }
        }

        .checkboxes {
            display: flex;
            align-items: center;
            gap: 20px;

            label {
                display: flex;
                align-items: center;
                cursor: pointer;
                gap: 5px;
                color: black;

                input[type="checkbox"] {
                    accent-color: #0171e3;
                }
            }
        }
    }
}

.summary,
.detailed {
    padding: 20px;

    .card-container {
        background-color: white;
        border-radius: 6px;
        padding: 10px;
        margin: 10px 0;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        // overflow-x: scroll;
        height: fit-content;
    }


    .all-ways {
        margin-bottom: 3rem;
        margin-top: 10px;

        .title {
            font-weight: 600;
            padding-left: 10px;
            font-size: 20px;
            color: black;

            span {
                font-weight: 600;
                color: gray;
                font-size: 20px;
            }
        }
    }
}

.tilldate-dp {
    width: 210px;

    .dropdown-toggle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.footer {
    background-color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    align-items: center;

    .action-button {
        background-color: white;
        border: 1px solid #0171e3;
        color: #0171e3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        border-radius: 5px;
        margin: 0 5px;
        font-size: 13px;

        &:hover {
            background-color: #0171e3;
            color: white;
        }
    }

    .footer-box {
        p {
            margin: 0 !important;
            font-size: 12px;
        }

        .muted {
            color: #6c757d;
        }

        width: 25%;
        // border-right: 1px solid gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:last-child {
            border-right: none;
        }
    }

    .download-box {
        padding: 10px;

        .dropdown-menu {
            li {
                .dropdown-item {
                    &:hover {
                        background-color: #0171e3;
                        color: white;
                    }

                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 12px !important;
                    padding: 5px 10px;

                    a {
                        span {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
    }


}


.table-container {
    padding: 20px;
    display: flex;
    font-size: 14px;

    .left-table,
    .right-table table {
        border-collapse: collapse;
        width: 100%;
    }

    .left-table {
        .corner-left {
            text-align: start;
            padding: 10px;
            vertical-align: text-top;
        }
    }

    th,
    td {
        border: 1px solid #ccc;
        height: 25px;
        line-height: 25px;
        padding: 0;
        vertical-align: middle;
        text-align: center;
    }

    .fixed-height-header {
        height: 45px !important;
    }

    .td-parent .td-div {
        height: 25px;
        line-height: 25px;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0px 10px;
    }



    .td-parent .td-div:last-child {
        border-bottom: 1px solid #ccc;
    }


    .td-div.parent {
        cursor: pointer;
        background-color: #e8e8ed;

        svg {
            margin-right: 5px;
        }
    }

    .td-div.child {
        padding-left: 40px;
    }

    .right-table {
        overflow-x: auto;
        display: flex;

        .till-day-class {
            height: 30px;

            th {
                background: #283b51;
                color: white;
            }

        }

        .right-parent-th {
            display: flex;
            width: 100%;
            height: 25px;
            line-height: 25px;
            border-bottom: 1px solid #ccc;
            border-bottom: none !important;

            .right-th,
            .right-th-body {
                flex: 1;
                // border-right: 1px solid #ccc;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 25px;
                line-height: 25px;
            }

            .right-th:last-child,
            .right-th-body:last-child {
                border-right: none;
            }
        }

        .right-parent-th.parent {
            background-color: #e8e8ed;
        }
    }
}


body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    user-select: none;
}

p {
    margin: 0;
    font-size: 14px;
}

span,
button,
label {
    font-size: 14px;
}

button {
    background: none;
    border: none;
}

.dropdown-menu.custom-end {
    right: 0;
    left: auto;
    height: 450px;
}

.small-text {
    font-size: 12px;
    color: #6c757d;
}

.empty-row {
    height: 30.73px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.corner-left-right {
    text-align: start !important;
    justify-content: start !important;

    svg {
        margin-right: 5px;
    }
}

.corner-left-right.open-bags {
    border: none !important;
}

.form-check-input {
    cursor: pointer;
}

.open-bags {
    background-color: #e8e8ed !important;
    text-align: start !important;
    padding-left: 30px !important;
    border-top: 1px solid #ccc !important;
}